@font-face {
    font-family: "Abeezee";
    src: url("fonts/ABeeZee-Regular.ttf");
}

@font-face {
    font-family: "DM";
    src: url("fonts/DmSansRegular-ZVWM3.ttf");
}

body {
    font-family: "DM";
    color: white;
    background: linear-gradient(to right, #fb3954, #fb9b75);
    justify-content: center;
}

h1 {
    font-family: "Abeezee";
}

label {
    display: inline-block;
    width: 300px;
}

.claculator {
    display: flex;
    margin: auto;
    max-width: 700px;
    border: 2px solid #fb9b75;
    padding: 10px;
}

.input {
    flex: 3;
}

.results {
    flex: 2;
    text-align: center;
    max-width: 250px;
    margin-right: 0px;
}

.top-section {
    text-align: center;
}

.top-section p {
    max-width: 450px;
    margin: auto;
}

input {
    border: 2px solid #fb9b75;
    border-radius: 5px;
}