@font-face {
    font-family: "Abeezee";
    src: url("fonts/ABeeZee-Regular.ttf");
}

@font-face {
    font-family: "DM";
    src: url("fonts/DmSansRegular-ZVWM3.ttf");
}

body {
    font-family: "DM";
    color: white;
    background: linear-gradient(to right, #fb3954, #fb9b75);
    justify-content: center;
}

h1 {
    font-family: "Abeezee";
    font-size: 50px;
}

label {
    display: inline-block;
    width: 300px;
}

.claculator {
    display: flex;
    margin: auto;
    max-width: 700px;
    border: 2px solid #fb9b75;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(251, 155, 117, 0.7);
}

.input {
    flex: 1;
}

.results {
    flex: 0 0 400px;
    text-align: center;
    margin-right: 0px;
}

.top-section {
    text-align: center;
}

.top-section p {
    max-width: 450px;
    margin: auto;
}

input {
    border: 2px solid #fb9b75;
    border-radius: 5px;
}

#submitBtn {
    font-family: "Abeezee";
    padding: 5px;
    background-color: #fb3954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}